@import url(https://fonts.googleapis.com/css2?family=Droid+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap);

/*Iconos con sonidos PRINCIPALES */
#Container1 {
    display: flex;
    justify-content: center;
}

.primeraColumna {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 80vw;
}

.imgSonidos {
    display: flex;
    justify-content: center;
    margin-top: 2vh;
    font-size: auto;
    width: 14vh;
    height: 14vh;
    border-radius: 90vh;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 9px #9d9d9d,        -5px -5px 9px #ffffff;
    -webkit-border-radius: 90vh;
    -moz-border-radius: 90vh;
    -ms-border-radius: 90vh;
    -o-border-radius: 90vh;
}

.imgSonidos:hover {
    box-shadow: 5px 5px 9px #b3b3b3,
        -5px -5px 9px #ffffff;
    transform: scale(1.3);
    margin-bottom: 2vh;
}

h4 {
    text-align: center;
    text-transform: 2v;
    
    
}

.divImage{
    margin-right: 90vw;
    margin-left: 90vw;
}

/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */
/* //////////////////////////////////////////// */

#Container2 {
    display: flex;
    justify-content: center;
    bottom: 0;
    position: absolute;
    left: 10vh;
    right: 10vh;
}

.segundaColumna {
    display: flex;
    justify-content: center;
    align-items: center;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.img {
    display: flex;
    justify-content: center;
    width: 10vh;
    height: 10vh;
    margin-right: 7vh;
    margin-left: 7vh;
    border-radius: 90vh;
    transition: transform 2s;
    background: linear-gradient(145deg, #f0f0f0, #cacaca);
    box-shadow: 5px 5px 9px #9d9d9d,        -5px -5px 9px #ffffff;
    -webkit-border-radius: 90vh;
    -moz-border-radius: 90vh;
    -ms-border-radius: 90vh;
    -o-border-radius: 90vh;
    -webkit-transition: transform 2s;
    -moz-transition: transform 2s;
    -ms-transition: transform 2s;
    -o-transition: transform 2s;
}

.img:hover {
    box-shadow: 5px 5px 9px #b3b3b3,
        -5px -5px 9px #ffffff;
    transform: scale(1.3);
}

#container3 {
    margin-left: 5vh;
    margin-bottom: 4.5vh;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20vh !important;
}
.terceraColumna{
    display: inline-block !important;
    width: 20vh !important;
}

#AyudaIcon {
    width: 10vh;
    height: 10vh;
}

#container4{
    margin-left: 4.5vh;
    margin-top: 6.5vh;
    position: absolute;
    top: 0;
    left: 0;
}
span{
    display: inline-block !important;
    width: 15vh !important;
    justify-content: center;
}

a{
    display: flex;
    justify-content: center;
    border-radius: 90vh;
}

span a{
    display: inline-block !important;
    width: 10vh !important;
    height: 10vh !important;
    justify-content: center !important;
}

.imgLeft{
    margin-right: 0vh;
    margin-left: 0vh;
    border-radius: 90vh;
    display: flex;
    justify-content: center;
    width: 10vh;
    height: 10vh;
}

.col-lg-2{
padding-left: 2vw;
padding-right: 2vw;
}

.col-xs-6{
    padding-bottom: 1vh;
}
/* nada nada */